html.recipe-mode {
  background-color: var(--main-bg);
  background-image: url('/assets/img/recipes-food-wallpaper.svg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 672px 448px;
  background-position: center;
}

body.recipe-mode {
  background: transparent;

  #sidebar .site-title a {
    font-size: 0;

    &::before {
      content: "~/beefwhale/plate\1F969\FE0F\1F37D\FE0F";
      font-size: 1.45rem;
    }
  }

  #sidebar .site-subtitle {
    font-size: 0;

    &::before {
      content: "oui oui, I cook";
      font-size: 0.95rem;
    }
  }

  #sidebar .profile-wrapper {
    position: relative;
  }

  #sidebar .profile-wrapper::before {
    content: '';
    position: absolute;
    top: -2rem;
    left: 1.9rem;
    width: 9.5rem;
    height: 4.5rem;
    z-index: 999;
    pointer-events: none;
    transform: rotate(-5deg);
    background: url('/assets/img/chef-hat.png') center / contain no-repeat;
  }

  #avatar {
    position: relative;
    z-index: 2;

    img {
      content: url('/assets/img/favicons/screaming_cat_moustache.png');
      object-fit: cover;
    }
  }

  #main-wrapper {
    background-color: rgba(0, 0, 0, 0.18);
  }

  search,
  #search-trigger {
    display: none !important;
  }
}

.recipe-post-list {
  .recipe-empty {
    padding: 1rem;
  }
}

@media all and (min-width: 1650px) {
  body.recipe-mode #sidebar .profile-wrapper::before {
    left: 2.9rem;
  }
}
