html.recipe-mode {
  background-color: var(--main-bg);
  background-image: url('/assets/img/recipes-food-wallpaper.svg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 672px 448px;
  background-position: center;
}

body.recipe-mode {
  background: transparent;

  #sidebar .site-title a {
    font-size: 0;

    &::before {
      content: "~/beefwhale/plate\1F969\FE0F\1F37D\FE0F";
      font-size: 1.45rem;
    }
  }

  #sidebar .site-subtitle {
    font-size: 0;

    &::before {
      content: "oui oui, I cook";
      font-size: 0.95rem;
    }
  }

  #avatar img {
    content: url('/assets/img/favicons/screaming_cat_moustache.png');
    object-fit: cover;
  }

  #main-wrapper {
    background-color: rgba(0, 0, 0, 0.18);
  }

  search,
  #search-trigger {
    display: none !important;
  }
}

.recipe-post-list {
  .recipe-empty {
    padding: 1rem;
  }
}
